body {
  margin: 0;

  font-size: 14px;
  font-family: 'PT Sans', Arial, sans-serif;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes bounce {
  0% {
    transform: translateY(-86px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.site-wrapper {
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.button:focus,
.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.site-header {
  min-height: 56px;
}

.site-logo {
  width: 140px;
  height: 72px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  position: relative;
  font-weight: bold;
  color: #000000;
  padding: 0 74px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation .navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
}

.navigation-list li {
  width: 25%;
}

.navigation-list li:nth-child(2) {
  padding-right: 90px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a.current-page {
  color: #766357;
}

.sedona-intro {
  background-color: #ffffff;
}

.sedona-intro p {
  margin: 0;
}

.sedona-intro b {
  display: block;
  font-weight: bold;
  font-size: 21px;
  color: #000000;
  margin-bottom: 25px;
}

.intro-welcome {
  background-color: #ffffff;
  background-image: url('../img/background-photo.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  height: 432px;
  padding-top: 76px;
  margin-bottom: 60px;
}

.intro-welcome-mask {
  background-image: url('../img/intro-mask.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 62px;
  margin-top: 14px;
}

.reasons-list {
  display: flex;
  flex-flow: row wrap;

  list-style: none;
  padding: 0;
  margin: 54px 0 0 0;
}

.reasons-list li:first-child {
  order: -2;
}

.reasons-list h3 {
  font-size: 21px;
  line-height: 21px;
}

.reasons-list p {
  font-size: 14px;
  line-height: 21px;
}

.reasons-item {
  width: 400px;
  background-color: white;
  min-height: 256px;
}

.reasons-item.wide {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.reasons-item.reverse {
  flex-direction: row-reverse;
}

.reasons-item.grey {
  background: #eeeeee;
}

.reasons-item h3 {
  margin: 46px 0 24px 0;
}

.reasons-item .num {
  margin-bottom: 22px;
}

.reasons-item .info {
  width: 400px;
  background-color: #81b3d2;
  color: white;
}

.img-wrap {
  width: 800px;
  height: 256px;
}

.reason-1-img {
  background-image: url('../img/reason-1.jpg');
  background-position-x: right;
}

.reason-2-img {
  background-image: url('../img/reason-2.jpg');
  width: 800px;
  height: 256px;
}

.reasons-list .additional-reasons-container {
  order: -1;
  width: 100%;
}

.additional-reasons {
  display: flex;
  justify-content: space-around;
  min-height: 330px;

  padding: 54px 0 0 10px;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.additional-reasons h3 {
  color: black;
  margin: 28px 0 22px 0;
}

.house-img {
  background-image: url('../img/icon-1.svg');
  width: 75px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

.food-img {
  background-image: url('../img/icon-3.svg');
  width: 74px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

.souvenir-img {
  background-image: url('../img/icon-2.svg');
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

.sedona-search-form {
  position: relative;
  line-height: 24px;
  height: 291px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sedona-search-form h2 {
  font-weight: bold;
  font-size: 30px;
  color: #000000;
  line-height: 36px;
  margin: 48px 0 26px 0;
}

.sedona-search-form p {
  margin: 0;
}

.sedona-search-form .search-button {
  background-color: #766357;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  min-height: 86px;
  width: 568px;
  margin-top: auto;
}

.sedona-search-form .search-button:focus,
.sedona-search-form .search-button:hover {
  background-color: #604e43;
}

.sedona-search-form .search-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.site-footer {
  display: flex;
  align-items: center;

  min-height: 120px;
  margin-top: -120px;
  background: white;
  opacity: 0.9;
}

.site-footer.inner {
  margin-top: auto;
}

.site-footer p {
  margin: 0;
}

.footer-social {
  display: flex;
  width: 67%;
  justify-content: space-around;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #000000;

  width: 33%;
}

.footer-copyright {
  display: flex;
}

.footer-copyright b {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #000000;
  margin-top: 6px;
  margin-right: 6px;
}

.footer-copyright:hover path,
.footer-copyright:focus path {
  fill: #81b3d2;
}

.footer-copyright:active path {
  fill: #bdbbbc;
}

.socials-list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 20px;

  display: flex;
}

.social-button {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button.twitter-icon {
  background-image: url('../img/twitter.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.social-button.twitter-icon:active {
  background-image: url('../img/twitter-active.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.social-button.fb-icon {
  background-image: url('../img/fb-icon.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.social-button.fb-icon:active {
  background-image: url('../img/fb-icon-active.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.social-button.youtube-icon {
  background-image: url('../img/youtube.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.social-button.youtube-icon:active {
  background-image: url('../img/youtube-active.svg');
  background-position: center center;
  background-repeat: no-repeat;
}

.modal-search {
  display: none;
  position: absolute;
  top: 292px;

  box-sizing: border-box;
  width: 568px;
  min-height: 395px;

  background: white;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  color: black;
  font-weight: bold;

  padding: 55px;
}

.modal-search.open {
  display: block;
  animation-name: bounce;
  animation-duration: 0.4s;
}

.hotel-search-form {
  display: flex;
  flex-wrap: wrap;
}

.modal-search input[type='text'] {
  font: inherit;
  text-transform: uppercase;

  padding-left: 12px;

  height: 38px;
  width: 346px;

  border: none;
  background-color: #f2f2f2;

  box-sizing: border-box;
}

.modal-search input[type='text']:hover {
  background-color: #ebebeb;
}

.modal-search input[type='text']:focus {
  background-color: white;
  border: 2px solid #e5e5e5;
  outline: none;
}

.arrival-date input[type='text'],
.departure-date input[type='text'] {
  padding-right: 40px;
}

.modal-search .calendar-button {
  position: absolute;
  right: 10px;
  top: 8px;

  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url('../img/calendar.svg');
  width: 21px;
  height: 22px;
  outline: none;
}

.calendar-button:focus,
.calendar-button:hover {
  background-image: url('../img/calendar-focus.svg');
}

.calendar-button:active {
  background-image: url('../img/calendar-active.svg');
}

.hotel-search-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 0 28px 0;
  width: 100%;
}

.adults-num,
.children-num {
  width: 50%;
}

.number-button-wrapper {
  display: flex;
}

.adults-num .number-button-wrapper {
  margin-right: 4px;
}

.number-button {
  font-size: 28px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  width: 38px;
  height: 38px;

  border: none;
  padding: 0;
  outline: none;
}

.number-button:focus,
.number-button:hover {
  color: black;
}

.number-button:active {
  color: #81b3d2;
}

.adults-num input[type='text'],
.children-num input[type='text'] {
  width: 38px;
}

.children-num label {
  margin-left: 50px;
}

.modal-search .hotel-search-button {
  width: 100%;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  margin-top: 26px;
}

/* hotels page */
.hotel-filters {
  min-height: 217px;
  background-color: beige;
  padding: 28px 74px 0 70px;
  box-sizing: border-box;

  background-image: url('../img/filter-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

.hotel-filters-form {
  display: flex;
  color: white;
}

.hotel-filters-infrastructure {
  min-width: 252px;
}

.hotel-filters-housing-type {
  min-width: 200px;
}

.hotel-filters-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 24px;
}

.hotel-filters-form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.hotel-filters-checkbox {
  position: relative;

  cursor: pointer;

  padding-left: 40px;
}

.hotel-filters-checkbox {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 26px;
  text-align: left;
}

.hotel-filters-checkbox input[type='checkbox'] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
}

.hotel-filters-checkbox input[type='checkbox']:disabled + .checkbox-indicator {
  opacity: 0.3;
}

.hotel-filters-checkbox input[type='checkbox']:checked + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
}

.hotel-filters-form .right-col {
  min-width: 316px;
  margin-left: auto;
}

.hotel-price legend {
  margin-bottom: 10px;
}
.hotel-price-range {
  display: flex;
}

.hotel-price-range input[type='text'] {
  width: 156px;
  height: 30px;
  border: solid 2px #ffffff;
  border-radius: 2px;

  background-color: transparent;
  color: #ffffff;
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;
}

.hotel-price-range input[type='text']::placeholder {
  color: #ffffff;
}

input[type='text'].hotel-price-from {
  border-right: none;
}

.hotel-price-range::after {
  content: '';
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  margin-left: -158px;
  margin-top: 6px;
}

input[type='text'].hotel-price-to {
  border-left: none;
  margin-left: -2px;
}

.hotel-price-range hr {
  margin: 0;
  border-style: solid;
  background-color: white;
  color: white;
}

.price-slider {
  position: relative;

  margin-bottom: 32px;
  margin-top: 22px;
}

.price-scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.price-scale .bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  margin-top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;

  width: 6px;
  height: 6px;

  margin-top: -11px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.show-hotels-btn {
  width: 137px;
  height: 36px;

  border: solid 2px #ffffff;
  border-radius: 2px;
  background: transparent;

  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
}

.show-hotels-btn:hover,
.show-hotels-btn:focus {
  color: black;
  background: #ffffff;
}

.sorting-container {
  display: flex;
  justify-content: space-between;

  min-height: 86px;
  padding: 30px 72px 0 72px;
  box-sizing: border-box;
}

.sorting-container p {
  margin: 0;
}

.sorting-container strong {
  font-size: 21px;
  line-height: 26px;
  color: black;
}

.hotel-sorting {
  display: flex;

  font-size: 12px;
  line-height: 30px;
}

.hotel-sorting h3 {
  margin: 0;

  color: black;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
}

.sorting-list {
  display: flex;
  list-style: none;

  margin: 0 0 0 38px;
  padding: 0;
}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);

  margin-right: 34px;
}

.sorting-list a:focus,
.sorting-list a:hover {
  color: #81b3d2;
}

.sorting-list a:active {
  color: black;
  border-bottom: none;
}

.sorting-list a.current {
  color: #81b3d2;
  border-bottom: none;
}

.sorting-direction {
  list-style: none;
  display: flex;

  margin-left: 420px;
}

.sorting-direction li {
  line-height: 12px;
}

.arrow {
  width: 11px;
  height: 10px;
}

.ascending {
  margin-right: 22px;
}

.arrow.current path {
  fill: #81b3d2;
}

.arrow:hover:not(.current) path,
.arrow:focus:not(.current) path {
  fill: #231f20;
}

.arrow:active:not(.current) path {
  fill: #81b3d2;
}

.hotels-list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.hotel-buttons-block {
  display: flex;
}

.hotel-button {
  height: 27px;
  line-height: 27px;
  margin-top: 11px;
}

.hotel-button-details {
  width: 110px;
  margin-right: 6px;
}

.hotel-button-booking {
  background-color: #766357;
  color: #ffffff;
  width: 142px;
}

.hotel-button-booking:hover,
.hotel-button-booking:focus {
  background-color: #604e43;
  color: #ffffff;
}

.hotel-button-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-item {
  display: flex;
  justify-content: space-between;

  padding: 30px 73px 30px 72px;
  border: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
}

.hotel-item-description {
  text-align: left;

  display: flex;
}

.hotel-item-description h2 {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  line-height: 16px;
}

.hotel-item-description h2:focus,
.hotel-item-description h2:hover {
  color: #81b3d2;
}

.hotel-item-description h2:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-item-description p {
  line-height: 21px;
  margin: 15px 0;
}

.hotel-item-photo {
  margin-right: 30px;
}

.hotel-item-photo img {
  height: 90px;
  width: 135px;
}

.hotel-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-additional-info {
  display: flex;
}

.hotel-additional-info .column > * {
  display: block;
}

.hotel-item-rates {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hotel-item-rates p {
  margin: 0;
}

.hotel-rate {
  background-color: #f2f2f2;
  color: #666666;
  line-height: 27px;
  width: 110px;

  height: 27px;
}

.hotel-stars {
  min-height: 17px;
}

.hotel-stars.two-stars {
  width: 42px;
  background-image: url('../img/star.svg');
  background-repeat: space;
}

.hotel-stars.three-stars {
  width: 64px;
  background-image: url('../img/star.svg');
  background-repeat: space;
}

.hotel-stars.four-stars {
  width: 88px;
  background-image: url('../img/star.svg');
  background-repeat: space;
}
